<?xml version="1.0" encoding="UTF-8"?>

::if (SET_HOTJARID)::
<pages basePath="/" homepageId="home" title="Glory Framework Website Demo" updateHtmlBackground="onChangePage">
::else::
<pages basePath="/" homepageId="home" title="Glory Framework Website Demo" updateHtmlBackground="">
::end::
	::if (SET_GOOGLETRACKERID)::
	<tracker type="google" id="::SET_GOOGLETRACKERID::" version="::SET_GOOGLETRACKERVERSION::" user="" domain="::SET_DEPLOYDOMAIN::">
		<!-- version 3 is universal analytics, version 4 is GA4 (not implemented yet) -->
	</tracker>
	::end::

	<controls>
		<actor id="bRight" type="control" action="pageForward,removePage:options" width="50" height="50" src="nav/right-icon.svg" layout="alignRight:5,alignBottom:5"></actor>
		<actor id="bLeft" type="control" action="pageBackward,removePage:options" width="50" height="50" src="nav/left-icon.svg" layout="alignLeft:5,alignBottom:5"></actor>
		<actor id="bOptions" type="control" action="pageSkipTo:options" width="50" height="50" src="nav/menu-icon.svg" layout="alignTopRight:5"></actor>
	</controls>

	<page id="options" type="overlay">
		<actor id="background" type="prop" width="200" height="120" src="options/menu-background.png" layout="alignTop:55,alignRight:30"></actor>
		<actor id="bHome" type="control" action="pageSkipTo:home,removePage:options" width="50" height="50" src="options/house-icon.svg" layout="alignTop:85,alignRight:140"></actor>
		<actor id="bBear" type="control" action="pageSkipTo:bear,removePage:options" width="50" height="50" src="options/bear-icon.svg" layout="alignTop:85,alignRight:90"></actor>
		<actor id="bBoy" type="control" action="pageSkipTo:swfPage,removePage:options" width="50" height="50" src="options/swfpage-icon.svg" layout="alignTop:85,alignRight:40"></actor>
		<actor id="close" type="control" action="removePage:options"  width="20" height="20" src="nav/close.png"  layout="alignTop:60,alignRight:35"></actor>
	</page>
	<page id="home" type="normal" title="The Home Page">
		<actor id="haxeLogo" type="control" action="httpLink:haxe.org/" z="20" x="0" y="100" width="200" height="200" src="title/haxe-opt.svg" layout="fillPercentWidth:0.2,maintainAspectRatio,centerX,centerY"></actor>
		<actor id="frontPageText" type="prop" rotation="30" width="300" height="200" border="false" wordWrap="true" src="title/frontPageText.txt" textformat="font:JUICE Bold Bold,size:16,color:0x330055,bold:false,italic:false,underline:false,url,target:_blank,align:right,leftMargin:0,rightMargin:0,indent:0,leading:8" layout="rigidFillPercentWidth:0.4,maintainAspectRatio,alignBottom:5,alignLeft:60"></actor>
		<actor id="frontPageText2" type="prop" width="300" height="400" border="false" wordWrap="true" src="title/frontPageText.html" textformat="font:Katamotz Ikasi,size:16,color:0x005533,bold:false,italic:false,underline:false,url,target:_blank,align:center,leftMargin:0,rightMargin:0,indent:0,leading:18" layout="rigidFillPercentWidth:0.4,maintainAspectRatio,centerY,alignRight:10"></actor>
	</page>
	
	<page id="bear" type="normal" title="The Bear Page">
		<actor id="bearActor" z="1" type="prop" x="0" y="0" width="288" height="288" src="bear/bear.svg"  layout="fillPercentHeight:0.5,maintainAspectRatio,centerX,alignTop:10" ></actor>
		<actor id="bearText" z="1" type="prop" x="0" y="0" width="400" height="400" src="bear/bear-text.svg"  layout="fillPercentWidth:0.7,maintainAspectRatio,alignLeft:40,alignBottom:100" ></actor>
	</page>

	<page id="swfPage" type="normal" swflibrary="swflibrary"><!--Currently library must be generated using `openfl process swflibrary.swf swflibrary.bundle` for html5 compatibility. src attribute below is the MovieClip class-->
		<actor id="LittleBoy" z="1" type="prop" width="962" height="640" src="LittleBoy" layout="center"></actor>
	</page>
</pages>