<?xml version="1.0" encoding="UTF-8"?>
<pages>
	<controls>
		<button id="bRight" action="pageForward,removePage:options" z="16" x="849" y="580" width="111" height="60" src="nav/bRight.png"></button>
		<button id="bLeft" action="pageBackward,removePage:options" z="17" x="0" y="580" width="111" height="60" src="nav/bLeft.png"></button>
		<button id="bOptions" action="pageSkipTo:options" z="18" x="849" y="-11" width="111" height="71" src="nav/bOptions.png"></button>
		<button id="bHome" action="pageSkipTo:title,removePage:options" z="19" x="0" y="0" width="111" height="60" src="nav/bHome.png"></button>
		
	</controls>
	<page id="title" type="normal">
		<actor id="bg1" z="0" type="prop" x="0" y="0" width="960" height="640" src="title/title.jpg"></actor>
	</page>
	<page id="options" type="overlay">
		<actor id="background" type="prop" z="0" x="0" y="0" width="960" height="640" src="options/actor_0000_background.png"></actor>
		<actor id="duckButton" type="control" action="pageSkipTo:svg,removePage:options" z="1" x="361" y="352" width="223" height="209" src="options/actor_0001_duck.png"></actor>
		<actor id="swfBoy" type="control" action="pageSkipTo:swfPage,removePage:options" z="1" x="601" y="400" width="200" height="214" src="options/swfBoy.png"></actor>
		<actor id="home" type="control" action="pageSkipTo:title,removePage:options" z="2" x="132" y="136" width="252" height="264" src="options/actor_0002_home.png"></actor>
		<actor id="cow" type="control" action="pageSkipTo:deal,removePage:options" z="3" x="351" y="150" width="219" height="220" src="options/actor_0003_cow.png"></actor>
		<actor id="easyXML" type="control" action="pageSkipTo:easy,removePage:options" z="4" x="551" y="136" width="273" height="246" src="options/actor_0004_easyXML.png"></actor>
		<actor id="limerick" type="control" action="pageSkipTo:limerickPage,removePage:options" z="5" x="135" y="366" width="198" height="185" src="options/actor_0005_limerick.png"></actor>
		<actor id="close" z="6" type="control" action="removePage:options" x="860" y="40" width="50" height="50" src="nav/close.png" ></actor>
		<actor id="choose" z="7" type="prop" x="244" y="41" width="461" height="109" src="options/choose.png" ></actor>
	</page>
	<!-- Remember, transitionOutTime is the delay in seconds before destroying the page. Use a custom page class to adjust the actual tween time for fadeouts, etc. -->
	<page id="deal" type="normal" transitionOutTime="2">
		<actor id="bgDeal" z="0" type="prop" x="0" y="0" width="960" height="640" src="heres-the-deal.jpg" ></actor>
	</page>
	<page id="easy" type="normal">
		<actor id="bgEasy" z="0" type="prop" x="0" y="0" width="960" height="640" src="easyXML.jpg" ></actor>
	</page>
	<page id="limerickPage" type="normal" original="~/Documents/Apps/Limericks/Art/1.%20Fireshoes/"  transitionOutTime="1">
		<actor id="bg3" z="0" type="prop" x="0" y="0" width="960" height="640" src="p1/pageObject_0000_bg.jpg"></actor>
		<actor id="skin" z="1" type="prop" x="196" y="122" width="368" height="396" src="p1/pageObject_0001_skin.png"></actor>
		<actor id="hose" z="2" type="prop" x="236" y="135" width="250" height="281" src="p1/pageObject_0002_hose.png"></actor>
		<actor id="pants" z="3" type="prop" x="324" y="143" width="247" height="381" src="p1/pageObject_0003_pants.png"></actor>
		<actor id="flameshoe" type="prop" z="4" x="48" y="30" width="642" height="590" src="p1/pageObject_0004_flameshoe.png"></actor>
		<actor id="shoe" type="prop" z="5" x="268" y="410" width="86" height="179" src="p1/pageObject_0005_shoe.png"></actor>
		<actor id="shirt" type="prop" z="6" x="53" y="173" width="357" height="324" src="p1/pageObject_0006_shirt.png"></actor>
		<actor id="truck" type="prop" z="7" x="412" y="187" width="112" height="100" src="p1/pageObject_0007_truck.png"></actor>
		<actor id="firemen" type="prop" z="8" x="633" y="497" width="124" height="67" src="p1/pageObject_0008_firemen.png"></actor>
		<actor id="can" type="prop" z="9" x="171" y="375" width="89" height="138" src="p1/pageObject_0009_can.png"></actor>
		<actor id="bw" type="prop" z="10" x="108" y="44" width="648" height="553" src="p1/pageObject_0010_bw.png"></actor>
		<actor id="text" type="prop" z="11" x="509" y="250" width="407" height="205" src="p1/pageObject_0011_text.png"></actor>
		<actor id="speaker1" type="control" action="playSound:s_limerickPage" z="11" x="509" y="470" width="66" height="60" src="speaker.png"></actor>
		<sound id="s_limerickPage" src="p1/limerickPCM.mp3,p1/limerickPCM.ogg,p1/limerickPCM.wav" autoPlay="false" ></sound>
	</page>
	<page id="svg" type="normal">
		<actor id="duck" z="1" type="prop" x="0" y="0" width="962" height="640" src="duck.svg" ></actor>
		<actor id="star1" z="1" type="prop" x="100" y="120" width="100" height="100" src="star.svg" ></actor>
	</page>
	<page id="swfPage" type="normal" swflibrary="swflibrary"><!--Currently library must be generated using `openfl process swflibrary.swf swflibrary.bundle`-->
		<actor id="LittleBoy" z="1" type="prop" x="0" y="0" width="962" height="640" src="LittleBoy" ></actor>
	</page>
</pages>