<?xml version="1.0" encoding="UTF-8"?>
<pages>

	<controls>
		<button id="bRight" action="pageForward" z="16" x="849" y="580" width="111" height="60" src="nav/bRight.png"></button>
		<button id="bLeft" action="pageBackward" z="17" x="0" y="580" width="111" height="60" src="nav/bLeft.png"></button>
		<button id="bOptions" action="pageSkipTo:options" z="18" x="849" y="-11" width="111" height="71" src="nav/bOptions.png"></button>
		<button id="bHome" action="pageSkipTo:title" z="19" x="0" y="0" width="111" height="60" src="nav/bHome.png"></button>
		<button id="panLeft" action="panLeft" z="20" x="306" y="0" width="30" height="30" src="nav/panLeft.png"></button>
		<button id="panRight" action="panRight" z="21" x="407" y="110" width="30" height="30" src="nav/panRight.png"></button>
		
	</controls>
	<page type="normal" id="title" original="" width="960" height="640">
		<actor id="bg1" z="0" type="prop" x="0" y="0" width="960" height="640" src="title/title.jpg" ></actor>
	</page>
	<page type="overlay" id="options" original="" width="960" height="640">
		<actor id="bg2" z="0" type="prop" x="0" y="0" width="960" height="640" src="options/options.jpg" ></actor>
		<actor id="close" z="1" type="control" action="transitionOut:options" x="910" y="0" width="50" height="50" src="nav/close.png" ></actor>
	</page>
	<page type="normal" id="p1" original="~/Documents/Apps/Limericks/Art/1.%20Fireshoes/" width="960" height="640">
		<actor id="bg3" z="0" type="prop" x="0" y="0" width="960" height="640" src="p1/pageObject_0000_bg.jpg" src2="p1/pageObject_0000_bg.jpg"></actor>
		<actor id="skin" z="1" type="colour" x="196" y="122" width="368" height="396" src="p1/pageObject_0001_skin.png" src2="p1/pageObject_0001_skin.png"></actor>
		<actor id="hose" z="2" type="colour" x="236" y="135" width="250" height="281" src="p1/pageObject_0002_hose.png" src2="p1/pageObject_0002_hose.png"></actor>
		<actor id="pants" z="3" type="colour" x="324" y="143" width="247" height="381" src="p1/pageObject_0003_pants.png" src2="p1/pageObject_0003_pants.png"></actor>
		<actor id="flameshoe" type="colour" z="4" x="48" y="30" width="642" height="590" src="p1/pageObject_0004_flameshoe.png" src2="p1/pageObject_0004_flameshoe.png"></actor>
		<actor id="shoe" type="colour" z="5" x="268" y="410" width="86" height="179" src="p1/pageObject_0005_shoe.png" src2="p1/pageObject_0005_shoe.png"></actor>
		<actor id="shirt" type="colour" z="6" x="53" y="173" width="357" height="324" src="p1/pageObject_0006_shirt.png" src2="p1/pageObject_0006_shirt.png"></actor>
		<actor id="truck" type="colour" z="7" x="412" y="187" width="112" height="100" src="p1/pageObject_0007_truck.png" src2="p1/pageObject_0007_truck.png"></actor>
		<actor id="firemen" type="colour" z="8" x="633" y="497" width="124" height="67" src="p1/pageObject_0008_firemen.png" src2="p1/pageObject_0008_firemen.png"></actor>
		<actor id="can" type="colour" z="9" x="171" y="375" width="89" height="138" src="p1/pageObject_0009_can.png" src2="p1/pageObject_0009_can.png"></actor>
		<actor id="bw" type="prop" z="10" x="108" y="44" width="648" height="553" src="p1/pageObject_0010_bw.png"></actor>
		<actor id="text" type="prop" z="11" x="509" y="250" width="407" height="205" src="p1/pageObject_0011_text.png" src2="p1/pageObject_0011_text.png"></actor>
	</page>
	<page type="normal" id="p2a" original="" width="960" height="640">
		<actor id="bg4" z="0" type="prop" x="0" y="0" width="960" height="640" src="p2/p2a.jpg" ></actor>
	</page>
	<page type="normal" id="p2b" original="" width="960" height="640">
		<actor id="bg5" z="0" type="prop" x="0" y="0" width="960" height="640" src="p2/p2b.jpg" ></actor>
		<actor id="nmelogo" z="0" type="prop" x="0" y="0" width="200" height="200" src="nme.svg" ></actor>
	</page>


</pages>